# Configuración básica para una aplicación React en producción

# Habilitar reescritura de URL
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /maridaje/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ /maridaje/index.html [L]
</IfModule>

# Configurar encabezados para cacheo
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"
</IfModule>

# Configurar compresión de archivos
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/javascript
</IfModule>
