
RewriteEngine On
RewriteBase /maridaje/

# Si la solicitud es un archivo o directorio existente, no redirigir
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redirigir todas las demás solicitudes a index.html
RewriteRule ^ index.html [L]
