.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-body {
   align-items: center;
   color: #4c1f27;
}

.App-link {
  color: #4c1f27;
}

.input-acceso {
  background-color: white;
  display: flex;
  align-content: right;
}

.input-acceso:hover {
  background-color: white;
}

.top-menu nav ul {
  list-style-type: none;
  display: flex;
  font-size: 1.9em;
  font-weight: bold;
  margin-bottom: 0 !important;

}

.top-menu nav ul a:visited {
  color: #4c1f27;
}

.top-menu nav ul li a {
  color: #4c1f27;
}

.top-menu nav ul li:hover a {
  color: white;
}

.top-menu nav ul li:hover {
  background-color: #4c1f27;
}
/*
.input-acceso {
  margin-left: auto;
  font-size: 0.7em;
}
*/

.btn-nuevo-vino, .btn-editar-vino {
  margin-bottom: 3%;
  margin-left: 20%;
}

.perfil-admin-content{
  margin-left: 8%;
}

.select-container {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 10px;
}

.input-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.input-bodega {
  display: inline;
  align-items: center;
  width: 70%;
}

.input-container input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

.input-container button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.input-container button.delete-button {
  background-color: #FF0000;
}

.input-container button:hover {
  background-color: #45a049;
}

.input-container button.delete-button:hover {
  background-color: #CC0000;
}

.disabled {
  background-color: #ddd;
}

.admin-menu ul, .bodega-menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.admin-menu a, .bodega-menu li {
  margin: 0 10px;
}

.admin-menu a, .bodega-menu a {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: #eee;
  border-radius: 5px;
  color: #4c1f27;
}

.admin-menu a:hover, .bodega-menu a:hover {
  background-color: #ccc;
}

.nombre,
.direccion {
  min-width: 300px;
}

.web {
  min-width: 250px;
}

.telefono,
.cif {
  max-width: 130px;
}

.password {
  max-width: 100px;
}

.link-style {
  background-color: #eee !important;
  border: none;
}

.link-style:hover {
  cursor: pointer;
}

.centered-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.admin-menu a, .bodega-menu a {
  color: #4c1f27; /* Color de texto por defecto */
  text-decoration: none;
  padding: 8px 16px; /* Ajuste de padding para dar espacio al texto */
  font-size: 1.5em; /* Tamaño de letra grande */
  border: none;
  border-radius: 0;
  background-color: transparent;
  transition: color 0.3s ease; /* Transición suave para el color */
}

.admin-menu a:hover, .bodega-menu a:hover {
  color: white;
  background-color: #4c1f27;
}

.input-datos-bodega {
  display: inline-block;
}

.formulario {
  float: right;
}

.fondo-titulo {
  background-color: #4c1f27;
  padding: 1px 0px 2px 0px;
  color: white;
}


.form-edit-vino {
  width: 50%;
  margin-left: 25%;
}