* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.select {
   color:black;
  }

.tabla-check {
  border-spacing: 50px; /* Espaciado entre columnas */
}

/* Aplica un margen a la derecha del cuadro de verificación */
input[type="checkbox"] {
  margin-right: 10px; /* Ajusta el valor según sea necesario */
}

table {
  border-collapse: collapse; /* Elimina el espaciado entre las celdas */
}

td {
  padding: 5px; /* Reduce el relleno de las celdas, ajusta el valor según sea necesario */
}